@model FastFitFierce.Models.ListProducts.ListGearVIewModel
@using FastFitFierce.Models.ListProducts
@{
    ViewBag.Title = "Gear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;"><img src="~/Images/h1Gear.png" style="max-width: 50%; opacity: 0.9; margin-top: 0px; " /></h1>

<div class="container" style="margin-bottom: 200px; margin-top: 150px;">

    <hr style="border: none;height: 20px;width: 100%;height: 50px;margin-top: -30px; margin-bottom: 70px; border-bottom: 2px solid #1f1209;box-shadow: 0 20px 20px -20px #333;" />
    @foreach (var item in Model.ListOfProducts)
    {
        int x = 0;
        <div class="col-md-3 col-sm-6">
            <div class="product-grid" style="margin-bottom: 50px;">
                <div class="product-image">
                    <a href="/Home/Details/@item.ProductId">
                        <img class="pic-1" src="@item.ProductImg">
                    </a>
                    @if ((item.Quantity >= 60 && item.Quantity <= 100))
                    {
                        x = (item.Quantity - 50) ?? default(int);
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">@(x)%</span>
                    }
                    else if (item.Quantity.Equals(0))
                    {
                        <span class="product-new-label" style="background: gray;">OUT OF STOCK</span>
                    }
                    else
                    {
                        <span class="product-new-label" style="background: #c4b04c">Top</span>
                    }

                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">@item.ProductName</a></h3>
                    <div class="price">

                        $@if ((item.Quantity >= 60 && item.Quantity <= 100))
                        {
                            @(item.ProductPrice *(100-x)/100)
                            <span>$@item.ProductPrice</span>
                        }
                        else
                        {
                            @item.ProductPrice
                        }

                    </div>
                    @using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId }, FormMethod.Post))
                    {
                        <button class="add-to-cart" type="submit">+ Add To Cart</button>
                    }
                </div>
            </div>
        </div>
    }
    <hr style="border: none;height: 20px;width: 100%;height: 50px;margin-top: -30px; margin-bottom: 70px; border-bottom: 2px solid #1f1209;box-shadow: 0 20px 20px -20px #333;" />
</div>


